{% load static %}
<!DOCTYPE html>
<html style="margin-left: 7px;margin-right: 7px;">
<head>
    
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=0">
    <meta name="description" content="">
    <meta name="author" content="Tooplate">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link href="https://fonts.googleapis.com/css?family=Poppins:100,100i,200,200i,300,300i,400,400i,500,500i,600,600i,700,700i,800,800i,900,900i&display=swap" rel="stylesheet">

    <title>{% block title %}Leaderboard page{% endblock %}</title>

    <link rel="stylesheet" type="text/css" href="{% static 'style1.css' %}">
</head>
<body>
    <div class="pre-header">
        <div class="container">
            <div class="row">
                <div class="col-lg-6 col-sm-6">
                    <span>Hey! Time to showcase your skills.</span>
                </div>
                <div class="col-lg-6 col-sm-6">
                    <div class="text-button">
                        <a href="{% url 'contact' %}">Contact Us Now! <i class="fa fa-arrow-right"></i></a>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <header class="header-area header-sticky">
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <nav class="main-nav">

                        <a href="{% url 'index' %}" class="logo">Quiz<em>Pedia</em></a>

                        <ul class="nav" style="font-size: 20px;">
                            <li><a href="{% url 'index' %}">Home</a></li>
                            <li><a href="{% url 'about' %}">About Us</a></li>
                            <li><a href="{% url 'contact' %}">Contact Us </a></li>
                            <li><a href="{% url 'leaderboard' %}">Leaderboard</a></li>
                            <li><a href="{% url 'prize' %}">Prize Winners</a></li>
                            <li><a href="{% url 'Login' %}">Login</a></li>
                        </ul>
                        <a class='menu-trigger'>
                            <span></span>
                        </a>

                    </nav>
                </div>
            </div>
        </div>
    </header>
    
    <div class="main-banner">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="banner-text">
                        <h6>HEARTY WELCOME TO ALL QUIZZARDS!!!</h6>
                        <h2>Quiz Festival 2023</h2>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <br>
    <br>
<h1 style="font-size: 30px;font-family: 'Times New Roman', Times, serif"> CONTACT DETAILS</h1>
<div class="contact-info" style="font-size: 20px;">
    <p><strong>Address:</strong> 123 Main Street, City, Country</p>
    <p><strong>Phone:</strong> +123456789</p>
    <p><strong>Email:</strong> <a href="">contact@example.com</a></p>
</div>

<div class="social-links" style="font-size: 20px;">
    <h2>Follow Us</h2>
    <ul>
        <li><a href="" target="_blank">Facebook</a></li>
        <li><a href="" target="_blank">Twitter</a></li>
        <li><a href="" target="_blank">LinkedIn</a></li>
        <!-- Add more social media links as needed -->
    </ul>
</div>
