{% load static %}
<!DOCTYPE html>
<html style="margin-left: 7px;margin-right: 7px;">
<head>
    
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=0">
    <meta name="description" content="">
    <meta name="author" content="Tooplate">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link href="https://fonts.googleapis.com/css?family=Poppins:100,100i,200,200i,300,300i,400,400i,500,500i,600,600i,700,700i,800,800i,900,900i&display=swap" rel="stylesheet">

    <title>{% block title %}Leaderboard page{% endblock %}</title>

    <link rel="stylesheet" type="text/css" href="{% static 'style2.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'style1.css' %}">
</head>
<body>
    <div class="pre-header">
        <div class="container">
            <div class="row">
                <div class="col-lg-6 col-sm-6">
                    <span>Hey! Time to showcase your skills.</span>
                </div>
            </div>
        </div>
    </div>

    <header class="header-area header-sticky">
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <nav class="main-nav">

                        <a href="{% url 'index' %}" class="logo">Quiz<em>Pedia</em></a>

                        <ul class="nav" style="font-size: 20px;">
                            <li><a href="{% url 'index' %}">Home</a></li>
                            <li><a href="{% url 'about' %}">About Us</a></li>
                            <li><a href="{% url 'contact' %}">Contact Us</a></li>
                            <li><a href="{% url 'leaderboard' %}">Leaderboard</a></li>
                            <li><a href="{% url 'prize' %}">Prize Winners</a></li>
                            <li><a href="{% url 'Login' %}">Login</a></li>
                        </ul>
                        <a class='menu-trigger'>
                            <span></span>
                        </a>

                    </nav>
                </div>
            </div>
        </div>
    </header>

    <h1 style="text-align: center;font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;font-size: 50px;">LEADERBOARD</h1>
    {% block content %}
    <table>
        <thead>
            <tr>
                <th style="font-size: 20px;font-family:Verdana, Geneva, Tahoma, sans-serif;">Rank</th>
                <th style="font-size: 20px;"">User Name</th>
                <th style="font-size: 20px;"">Points</th>
            </tr>
        </thead>
        <tbody style="font-size: 20px;">
            {% for entry in leaderboard_data %}
                <tr>
                    <td>{{ forloop.counter }}</td>
                    <td>{{ entry.Username }}</td>
                    <td>{{ entry.points}}</td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
    {% endblock %}
</body>

</html>